.carousel-inner
    height: 23.5em
    .carousel-item
        filter: brightness(.3)

        #Jpg1
            width: 67%
            transform: translate(0,-10%) // axe y
        #Jpg2
            transform: translate(0,-10%) // axe y
    .carousel-caption
        bottom: 10em
