.team
    background-color: #e7f1fe7b
    .container
        .custom-badge
            background-color: $primarycolor
            color:$txtcolor
    
        h3
            gap: 5px
            font-weight: bold
            margin-bottom: 5px
        p
            line-height: 0.5em
    div
        .col
            
            .custom-card
                height: 250px
                width: 250px
                border-radius: 0px
                border: 1px $primarycolor
                
                
               
                .card-body
                    background-color: white
                    
                


                 
        
