
.service-options
    display:flex
    justify-content: center
    align-content: center
    .col-lg-12
        margin: 0 1rem

        .custom-card 
            height: 300px
            width: 300px
            border-radius: 0px

